* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

div {
  /* border: 1px solid blue; */
}

.box {
  width: 96%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #ffb596;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

h5,
h4,
h6 {
  margin: 5px 10px;
  color: black;
}

h4 {
  font-size: 30px;
}

h6 {
  font-size: 18px;
  font-weight: 500;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
}

.card {
  width: 20%;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 10px;
  flex-shrink: 0;
}

.card-image {
  width: 100%;
  height: 270px;
  max-height: 270px;
  background-color: #f7f7f7;
  border-radius: 10px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 100%;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
}

.card-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  max-height: 60px; /* Adjust as needed */
  overflow-y: auto;
}

.card-title h3 {
  color: black;
  max-width: 100%;
}

.card-price {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-price p {
  color: black;
}
