.active{
    background-color: blue !important;
    color: white !important;
    display: block !important;
    margin: 20px auto !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
}

.inactive{
    background-color: red !important;
    color: white !important;
    display: block !important;
    margin: 20px auto !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
}